body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2E384D;
    background-color: #dee0e6;
    margin: 50px 400px;
}

header {
    font-size: 14px;
}

.main_nav ul {
    list-style: none;
    padding-left: 0;
}

.main_nav a {
    text-decoration: none;
    color: #2E384D;
}

.main_nav li {
    padding: 20px;
}

.main_nav li:hover {
    background-color: #ffa822;
    color: #fff;
    transition: 0.2s;
}

.main_nav {
    background-color: #fff;
    border-radius: 4px;
}