html{
    min-height: 100vh;
  
  }


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2E384D;
    background-color: #dee0e6;
  
}

header {
    font-size: 14px;
}

table
th,
td {
    border: none;
    border-collapse: collapse;
}

table {
    background-color:#fff ;
}

thead {
    background-color: #134e6f;
    color: #fff;
}

th,
td {
    padding: 20px;
}

tr:nth-child(2) {
    background-color: #efefef;
}

.tbody:hover {
    background-color: #ffeed2;
}
.footer{
    justify-content: end;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 0;
    color: #dee0e6;
    margin-top: auto;
    height: 2rem;
    min-width: 100%;
    background-color: #14213d;
}
a{
    margin-top: 20px;
}